APP_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=survey_db

REDIS_HOST=redis

KAFKA_BROKER=kafka:9092

QDRANT_HOST=qdrant

OLLAMA_HOST=http://ollama:11434

MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=password

KEYCLOAK_URL=http://keycloak:8080
